<!DOCTYPE html>
<html>

    <body>
            <div class="container">
                <label for="publish"><b> PUBLISH </br></br></label>
                    <form method="POST">
                            <br>
                            <input type="text" placeholder="topic" name="channel" required></br>
                            <br> <input type="text" placeholder="message" name="data" required>
                            <input type="submit" value="Publish">
                        </form>       

        <!--button type="button" onclick="alert('Hello world!')">Publisher</button-->
         
        </body>

</html>        
